/*

Theme Name: X &ndash; Child Theme
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to X in this child theme.
Version: 1.0.0
Template: x

*/

/* ======================= */
/*	IMAGE BLOK			   */
/* ======================= */

.x-overflow-hidden {
	overflow: hidden;
}

.image-container {
    max-height: 300px;
}

.image-container img {
    width: 100%;
}

.witblok {
    position: absolute;
    height: 200%;
    min-width: 400px;
    padding: 20px 70px;
    transform: rotate(20deg);
    top: -100px;
    left: -100px;
}

.tekst-blok {
	position: absolute;
    text-align: center;
    max-width: 320px;
    padding: 29px;
    font-size: 32px;
    margin: 0;
}